doctype html
include master/head

body
    include master/navbar
    section.main-section
        .container
            .pt-4
            .card.shadow-sm
                .card-body
                    block pageContent